extends ../layout

block content
  .container.marginbot
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th 访问地址
            th 访问者ip
            th 访问方法
            th 访问时间
            th 操作
        tbody
          each item in visitors
            tr(class="item-id-#{item._id}")
              td #{item.url}
              td #{item.ip}
              td #{item.method}
              td #{moment(item.time).format('MM/DD/YYYY hh:mm:ss')}
              td
                button.btn.btn-danger.del(type="button", data-id="#{item._id}") 删除
    script(src="/js/visitorlist.js")